@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    font-family: "Open Sans";
    scrollbar-color: #0095d9 #f0f0f0;
    scrollbar-width: 8px;
}

.checkbox {
    all: unset;
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 1px solid #0095d9;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox:checked {
    background-color: #0095d9;
    background-image: url(/images/svg/checked.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.checkbox:disabled {
    filter: grayscale(1);
}

input[type="radio"] {
    all: unset;
    @apply block rounded-full bg-white cursor-pointer;
    width: 16px;
    height: 16px;
    border: 1.5px solid #0095d9;
    position: relative;
    flex-shrink: 0;
}

input[type="radio"]:checked::after {
    content: "";
    @apply block absolute bg-brand-a1 rounded-full;
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #ffffff;
    transition: 1s all ease;
}

::-webkit-scrollbar-thumb {
    background-color: #0095d9;
    border-radius: 21px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.scroll-fade::after {
    content: "";
    display: block;
    width: 98%;
    height: 90px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 42.11%,
        #fff 92.89%
    );
    position: absolute;
    bottom: -5px;
    left: 0;
    pointer-events: none;
}

/* paginação */

.pagination {
    display: flex;
    gap: 0.5rem;
}

.pagination .page-item {
    font-size: 14px;
    color: #333333;
    display: flex;
    align-items: center;
}

.pagination .page-item.active {
    font-weight: 700;
}

.pagination .page-item:first-child,
.pagination .page-item:last-child {
    padding: 0.2rem 0.4rem;
    background-color: #0095d9;
    border-radius: 6px;
}

.pagination .page-item:first-child.disabled,
.pagination .page-item:last-child.disabled {
    background-color: #e0e0e0;
}

body .toastify button.toast-close {
    color: black !important;
}
