@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Open Sans";
    scrollbar-color: #000e4b #f0f0f0;
    scrollbar-width: 8px;
}

.checkbox {
    all: unset;
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 1px solid #000e4b;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox:checked {
    background-color: #000e4b;
    background-image: url('https://meiamaratonaprf191.com.br/inscricao/images/svg/checked.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.checkbox:disabled {
    filter: grayscale(1);
}

.prf-checkbox {
    all: unset;
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid #000e4b;
    border-radius: 4px;
    cursor: pointer;
}

.prf-checkbox:checked {
    background-color: transparent;
    background-image: url('https://meiamaratonaprf191.com.br/inscricao/images/PRF/svg/checked.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

input[type="radio"] {
    all: unset;
    @apply block rounded-full bg-white cursor-pointer;
    width: 16px;
    height: 16px;
    border: 1.5px solid #000e4b;
    position: relative;
    flex-shrink: 0;
}

input[type="radio"]:checked::after {
    content: "";
    @apply block absolute bg-brand-a1 rounded-full;
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #ffffff;
    transition: 1s all ease;
}

::-webkit-scrollbar-thumb {
    background-color: #000e4b;
    border-radius: 21px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.scroll-fade::after {
    content: "";
    display: block;
    width: 98%;
    height: 90px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 42.11%,
        #fff 92.89%
    );
    position: absolute;
    bottom: -5px;
    left: 0;
    pointer-events: none;
}

/* paginação */

.pagination {
    display: flex;
    gap: 0.5rem;
}

.pagination .page-item {
    font-size: 14px;
    color: #333333;
    display: flex;
    align-items: center;
}

.pagination .page-item.active {
    font-weight: 700;
}

.pagination .page-item:first-child,
.pagination .page-item:last-child {
    padding: 0.2rem 0.4rem;
    background-color: #000e4b;
    border-radius: 6px;
}

.pagination .page-item:first-child.disabled,
.pagination .page-item:last-child.disabled {
    background-color: #e0e0e0;
}

body .toastify button.toast-close {
    color: black !important;
}

[data-accordion="body"] {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

[data-accordion="body"].expanded {
    transition: max-height 0.3s ease-in-out;
}

.list__options ul {
    list-style: disc;
    padding-left: 16px;
}

.list__options ul li {
    margin-bottom: 4px;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block;
}

@media (max-width: 300px) {
    #wallet_container {
        transform: scale(0.7);
    }
}

.marca {
    width: 120px !important;
    height: 50px !important;
}

.marca img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

input[name="vaucher"] {
    @apply grow px-2 py-1 rounded-lg border border-gray-4 focus:border-brand-prfA1 focus:outline-brand-prfA1 text-gray-1;
}
.bg-prf{
    background-image: url('https://meiamaratonaprf191.com.br/inscricao/images/PRF/background.png');
}
